<div md-dialog-title fxLayout="row">
    <div fxFlex fxLayoutAlign="start center">
        <mat-icon svgIcon="avatars:svg-11" class="avatar"></mat-icon>
        <div>{{model.name}}</div>

    </div>
    <div fxLayoutAlign="end center">
        <button mat-icon-button (click)="toEdit(model)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="User details">
            <mat-list dense>
                <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <div mat-line>{{model.login}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>email</mat-icon>
                    <div mat-line>{{model.email}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Authorities</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>group</mat-icon>
                    <div mat-line>{{model.email}}</div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Personal details">
            <mat-list dense>
                <mat-list-item>
                    <mat-icon mat-list-icon></mat-icon>
                    <div mat-line>{{model.givenName}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon></mat-icon>
                    <div mat-line>{{model.familyName}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>cake</mat-icon>
                    <div mat-line>{{model.birthday}}</div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>


</mat-dialog-content>
