<div md-dialog-title fxLayout="row">
    <div fxFlex fxLayoutAlign="start center">
        <md-icon svgIcon="avatars:svg-11" class="avatar"></md-icon>
        <div>{{model.name}}</div>

    </div>
    <div fxLayoutAlign="end center">
        <button md-icon-button (click)="toEdit(model)">
            <md-icon>edit</md-icon>
        </button>
        <button md-icon-button md-dialog-close>
            <md-icon>close</md-icon>
        </button>
    </div>
</div>
<md-dialog-content>
    <md-tab-group>
        <md-tab label="User details">
            <md-list dense>
                <md-list-item>
                    <md-icon md-list-icon>person</md-icon>
                    <div md-line>{{model.login}}</div>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>email</md-icon>
                    <div md-line>{{model.email}}</div>
                </md-list-item>
                <md-divider></md-divider>
                <h3 md-subheader>Authorities</h3>
                <md-list-item>
                    <md-icon md-list-icon>group</md-icon>
                    <div md-line>{{model.email}}</div>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="Personal details">
            <md-list dense>
                <md-list-item>
                    <md-icon md-list-icon></md-icon>
                    <div md-line>{{model.givenName}}</div>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon></md-icon>
                    <div md-line>{{model.familyName}}</div>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>cake</md-icon>
                    <div md-line>{{model.birthday}}</div>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tab-group>


</md-dialog-content>
