<ng-container *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="!loading">
  <div mat-dialog-title fxLayout="row">
    <div fxFlex fxLayoutAlign="start center">
      <mat-icon svgIcon="avatars:svg-11" class="avatar"></mat-icon>
      <div>{{model.login}}</div>
    </div>
    <div fxLayoutAlign="end center">
      <button mat-icon-button (click)="toEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="User details">
        <mat-list dense>
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{model.login}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <div mat-line>{{model.email}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Authorities</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>group</mat-icon>
            <div mat-line>{{model.email}}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
</ng-container>

