/deep/ mat-icon.avatar {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

/deep/ mat-icon.avatar-sm {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}

/deep/ mat-dialog-container {
  min-width: 50vw;
}
