<nkm-layout>

</nkm-layout>

<md-sidenav-container fxLayout="column" fullscreen>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span>Nakama</span>
    </md-toolbar>

    <md-sidenav #sidenav>

        <md-nav-list dense>
            <md-list-item *ngFor="let route of userRoutes" (click)="sidenav.toggle()" routerLink="{{route.route}}">
                <md-icon md-list-icon>{{route.icon}}</md-icon>
                <h4 md-line>{{route.title}}</h4>
            </md-list-item>

            <ng-container *ngIf="contentRoutes">
                <md-divider></md-divider>
                <h3 md-subheader>Content</h3>
                <md-list-item *ngFor="let route of contentRoutes" (click)="sidenav.toggle()"
                              routerLink="{{route.route}}">
                    <md-icon md-list-icon>{{route.icon}}</md-icon>
                    <h4 md-line>{{route.title}}</h4>
                </md-list-item>
            </ng-container>

            <ng-container *ngIf="commerceRoutes">
                <md-divider></md-divider>
                <h3 md-subheader>Commerce</h3>
                <md-list-item *ngFor="let route of commerceRoutes" (click)="sidenav.toggle()"
                              routerLink="{{route.route}}">
                    <md-icon md-list-icon>{{route.icon}}</md-icon>
                    <h4 md-line>{{route.title}}</h4>
                </md-list-item>
            </ng-container>

            <ng-container *ngIf="adminRoutes">
                <md-divider></md-divider>
                <h3 md-subheader>Administration</h3>
                <md-list-item *ngFor="let route of adminRoutes" (click)="sidenav.toggle()"
                              routerLink="{{route.route}}">
                    <md-icon md-list-icon>{{route.icon}}</md-icon>
                    <h4 md-line>{{route.title}}</h4>
                </md-list-item>
            </ng-container>

            <md-divider></md-divider>
            <md-list-item *ngFor="let route of otherRoutes" (click)="sidenav.toggle()"
                          routerLink="{{route.route}}">
                <md-icon md-list-icon>{{route.icon}}</md-icon>
                <h4 md-line>{{route.title}}</h4>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <router-outlet></router-outlet>

</md-sidenav-container>
