language: java
jdk:
  - oraclejdk8
before_install:
  - chmod +x gradlew
before_script:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
  - ./gradlew check
