spring:
    datasource:
        url: jdbc:h2:mem:nakama;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        name:
        username: nakama
        password:
    h2:
        console:
            enabled: true
    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: create
        show_sql: true
    thymeleaf:
        cache: false
server:
    port: 8080
