<div fxLayout="column" fxLayoutAlign="space-between none">

  <div class="users-filter">
    <mat-form-field floatLabel="never">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let item">
        <mat-icon svgIcon="avatars:svg-11" class="avatar-sm"></mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let item"> {{item.login}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let item"> {{item.email}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="item.enabled">
          <mat-icon>check</mat-icon>
        </ng-container>
        <ng-container *ngIf="!item.enabled">
          <mat-icon>close</mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="toDetail(item)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button (click)="toEdit(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="toDelete(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<button mat-fab class="fab-bottom-right">
  <mat-icon>add</mat-icon>
</button>
