<div fxLayout="column" fxLayoutAlign="space-between none">
    <div fxFlex>
        <md-nav-list *ngIf="users?._embedded?.users">
            <md-divider></md-divider>
            <md-list-item *ngFor="let user of users?._embedded?.users" fxLayout="column">
                <div fxFlex fxLayoutAlign="start center" (click)="toDetail(user)">
                    <md-icon md-list-avatar fxLayoutAlign="start center">person</md-icon>
                    <h4 fxFlex fxLayoutAlign="start center">{{user.personal.fullName}}</h4>
                    <div fxFlex fxLayoutAlign="start center">{{user.login}}</div>
                    <div fxFlex fxLayoutAlign="start center">{{user.email}}</div>
                </div>
                <div fxLayoutAlign="end center">
                    <button md-icon-button (click)="toEdit(user)">
                        <md-icon>edit</md-icon>
                    </button>
                    <button md-icon-button (click)="toDelete(user)">
                        <md-icon>delete</md-icon>
                    </button>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-nav-list>
        <div *ngIf="!users?._embedded?.users" fxLayoutAlign="center center">
            no data
        </div>
    </div>
</div>
<button md-fab class="fab-bottom-right">
    <md-icon>add</md-icon>
</button>
