<td-layout #layout>
    <td-navigation-drawer logo="assets:covalent" sidenavTitle="Quickstart" name="Firstname Lastname"
                          email="firstname.lastname@company.com">
        <md-nav-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
                <a md-list-item [routerLink]="[item.route]" (click)="layout.close()">
                    <md-icon>{{item.icon}}</md-icon>
                    {{item.title}}</a>
            </ng-template>
        </md-nav-list>
        <md-nav-list td-navigation-drawer-menu>
            <a md-list-item (click)="logout()">
                <md-icon>exit_to_app</md-icon>
                Sign out</a>
        </md-nav-list>
    </td-navigation-drawer>
    <td-layout-nav>
        <div td-toolbar-content layout="row" layout-align="center center" flex>
            <span>Quickstart</span>
            <span flex></span>
            <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
                <md-icon>chrome_reader_mode</md-icon>
            </a>
            <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
                <md-icon>chrome_reader_mode</md-icon>
            </a>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
                <span flex></span>
                <md-icon class="md-icon-ux">chrome_reader_mode</md-icon>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>
